// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

.articles {
  margin: 20px;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #eeeaea;
  padding: 20px 20px;
}

.head {
  display: flex;
}
